.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 24, 36, 0.95);
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-bottom: 1px solid rgba(250, 239, 93, 0.1);
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-switcher {
  display: flex;
  gap: 0.9rem;
  position: relative; /* evita que quede fuera del flujo */
  z-index: 100;

}
.language-switcher button {
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
  color: #FFD700;
  background: #554A99;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.language-switcher button:hover {
  color: #17b29e; /* un amarillo más claro al pasar el mouse */
  
}

.language-switcher button.active {
  background: #FFD700 !important;
}

.logo-image {
  height: 4rem;   /* prueba 24px, 28px o 32px */
  width: auto;
  display: block;
}

.logo:hover {
  color: var(--color-secondary);
  transform: scale(4.05);
}

.nav-desktop {
  display: flex;
  gap: 2.5rem;
}

.nav-link {
  position: relative;
  font-weight: 500;
  color: var(--color-text-main);
  padding: 0.5rem 0;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-accent);
  transition: var(--transition-smooth);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  color: var(--color-accent);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 0.5rem;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: var(--color-accent);
  border-radius: 2px;
  transition: var(--transition-smooth);
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .header-container {
    padding: 1rem 1.5rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 340px;
  height: auto;
}

.logo svg {
  width: 100%;
  height: 100%;
}